* { box-sizing: border-box; }

.audio {
    top: 0px;
    right: 0px;
    position: fixed;
}

.btn {
	margin-bottom: 16px;
	padding: 8px 24px;
	min-width: 100px;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 0;
	color: #000;
	letter-spacing: 4px;
	text-transform: uppercase;
	white-space: nowrap;
}

.table {
	position: relative;
	display: inline-block;
	margin: 16px auto;
	margin-left: 50%;
	text-align: center;
	transform: translateX(-50%);
	perspective: 100vw;
}

.table__dealer, .table__user {
	position: relative;
	margin-bottom: 16px;
	padding: 24px;
	border: 4px dashed #fff;
}

body {
    overflow: hidden;
    position: relative;
    min-height: 525px;
    background: #4b3f64;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: -webkit-linear-gradient(to bottom right, #b968c5, skyblue);
    background: linear-gradient(to bottom right, #b968c5, skyblue);
}